HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


# Java 관련
*.class
*.jar
*.war
*.ear

# 로그 파일
*.log

# IDE 관련 파일 (IntelliJ, Eclipse 등)
.idea/
*.iml
*.iws
*.ipr
/.classpath
/.project
/.settings
/out/
bin/

# Maven 관련
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle 관련
.gradle/
/build
!gradle/wrapper/gradle-wrapper.jar
.gradle/
build/
.gradle-cache/
gradle-app.setting

# Lombok 관련
**/lombok.config

# H2 데이터베이스 파일
*.h2.db
*.mv.db

# 디버그 관련
hs_err_pid*

# OS/툴 관련 파일
.DS_Store
Thumbs.db
*.swp
*.swo
*.orig

# 환경 변수 파일
.env
*.env

# 테스트 관련
test-output/

# JetBrains Rider
.idea/
*.sln
*.csproj.user
